body            { font-family: 'Georgia', serif; font-size: 17px; color: #000; }
h1, h2, h3, h4  { font-family: 'Garamond', 'Georgia', serif; font-weight: normal; }

h1           { font-size: 44px; margin: 15px 0 50px 0}
h2           { font-size: 30px; margin: 15px 0 15px 0; border-bottom: 2px solid #eee;}
h3           { font-size: 24px; margin: 15px 0 5px 0; }
h4           { font-size: 19px; margin: 15px 0 5px 0; }

a {
    outline: 0; 
    color: #004B6B; 
    text-decoration: none;
}

.page {
    margin: 0.5em auto; 
    width: 720px;
    padding: 0.8em; 
    background: white; 
}

.header {          
    padding: 0em;
}

.content  {}

.footer {
    margin: 0em auto;
    padding: 0em;
}

table { 
    font-size: 17px; 
    width: 100%; 
    font-family: 'Garamond'; 
    border-spacing: 0 5px;
}

tbody {
    vertical-align: baseline;
}

td, th { 
    text-align: left; 
}

table .center {
    text-align: center;
}

table .right {
    text-align: right;
}

table .small {
    font-size: 16px;
}
