<div class="container" style="padding: 16px;">
    <article class="message is-success" style="margin: auto; max-width: 600px;">
        <div class="message-header">
            <p>Você usa este size?</p>
        </div>
        <div class="message-body">
            Este site foi feito para monitorar a atividade dos estudantes da <strong>UERN</strong>
            no <strong>Uri Online Judge</strong>. Conte-me o que você acha dele, 
            no <a href="https://github.com/thiagojobson/uri-com-cuscuz"><strong>Github</strong></a>.
        </div>
    </article>
</div>
