{% from 'macros.html' import paginate %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        {% include '_analytics.html' %}
        {% block title %}<title>URI com cuscuz | {{ config['UNIVERSITY'] }}</title>{% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    <body>
        <section class="hero is-dark">
            <div class="hero-body">
                <div class="container" style="max-width: 900px">
                    <h1 class="title">
                        URI com cuscuz
                    </h1>
                    <h2 class="subtitle">
                        {{ config['UNIVERSITY'] }} @ URI Online Judge
                    </h2>
                </div>
            </div>
        </section>
        <section>
            {% block message %}
            {% endblock %}
        </section>
        <section>
            <div class="container" style="padding: 16px; max-width: 900px">
                {% block table_description %} {% endblock %}
                    <div class="box is-paddingless">
                        <div class="table-container">
                            <table class="sub-table table is-striped is-hoverable is-fullwidth">
                                {% block table %}
                                {% endblock %}
                            </table>
                        </div>
                    </div>
                {% block pagination %}
                {% endblock %}
            </div>
        </section>
    </body>
</html>

<style>
  @media only screen and (max-width: 600px) {
    .sub-table {
      font-size: 0.9em;
    }

    th, td {
      padding: .2em .5em;
    }
  }
</style>
