{% extends 'base.html' %}

{% block table_description %}
    <h3 class="title">Soluções mais recentes</h3>
{% endblock %}

{% block table %}
    <thead>
        <tr class="has-background-link">
            {% for col in ['Nome', 'Problema', 'Linguagem', 'Data'] %}
                <th class="has-text-centered has-text-light">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for sub in pagination.items %}
        <tr>
            <td>
                <a href="{{ url_for('app.users', id=sub.user.id) }}">
                    {{ sub.user.name }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('app.problems', id=sub.problem.id) }}">
                    {{ sub.problem.name }}
                </a>
            </td>
            <td class="has-text-centered">{{ sub.language }}</td>
            <td class="has-text-centered">{{ sub.date.strftime('%d %b %Y') }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block pagination %}
    {{ paginate(pagination, endpoint='app.index') }}
{% endblock %}
