{% extends 'base.html' %}

{% block message %}
    {# Apenas mostra a mensagem fixada na primeira página #}
    {% if request.full_path == '/?' %}
        {% include '_message.html' %}
    {% endif %}
{% endblock %}

{% block table_description %}
    <p>
        <h4 class="title is-4">Soluções mais recentes</h4>
    </p>
{% endblock %}

{% block table %}
    <thead>
        <tr class="has-background-link">
            {% for col in ['Nome', 'Problema', 'Linguagem', 'Data'] %}
                <th class="has-text-centered has-text-light">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for sub in pagination.items %}
        <tr>
            <td>
                <a href="{{ url_for('app.users', id=sub.user.id) }}">
                    {{ sub.user.name }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('app.problems', id=sub.problem.id) }}">
                    {{ sub.problem.name }}
                </a>
                {% if sub.problem.category %}
                    <span class="tag">{{ sub.problem.category }}</span>
                {% endif %}
            </td>
            <td class="has-text-centered"><small>{{ sub.language }}</small></td>
            <td class="has-text-centered"><small>{{ sub.date.strftime('%d %b %Y') }}<small></td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block pagination %}
    {{ paginate(pagination, endpoint='app.index') }}
{% endblock %}
