<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include '_analytics.html' %}
    <title> URI com cuscuz </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
</html>

{% macro render_pagination(pagination, base_path, page_id=None) %}
  <ul class="pagination-list">
    {%- for page in pagination.iter_pages(1, 1, 2, 0) %}
      <li>
        {% if page %}
          {% if page != pagination.page %}
            <a class="pagination-link" 
            {% if page_id %}
              href={{ url_for(base_path, id=page_id, page=page) }} 
            {% else %}
              href={{ url_for(base_path, page=page) }} 
            {% endif %}
            aria-label=Página{{ page }} aria-current="page">{{ page }}</a>
          {% else %}
            <a class="pagination-link is-current" aria-label=Página{{ page }} aria-current="page">{{ page }}</a>
          {% endif %}
        {% else %}
          <span class="pagination-ellipsis">&hellip;</span>
        {% endif %}
      </li>
    {%- endfor %}
  </ul>
{% endmacro %}

{% block content %}
<body>
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="columns is-centered">
        <div class="column is-half">
          <h1 class="title">
            URI com cuscuz
          </h1>
          <h2 class="subtitle">
            UERN @ URI Online Judge
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-small">      
    <div class="container is-fluid">
      <div class="columns is-centered">
        <div class="column is-half is-paddingless">
          <div>
            <p>
              <h3 class="title"> {{ table_description }} 
                {% if external_link %}
                <div class="icon" title="ver no URI">
                  <a href={{ external_link }} target="_blank" class="has-text-grey-dark">                  
                    <i class="fas fa-external-link-alt"></i>
                  </a>
                </div>
                {% endif %}
              </h3>
            </p>
          </div>
          <div class="box is-paddingless">
            <div class="table-container">
              <table class="table is-striped is-hoverable is-fullwidth">
                {% block table %} 
                {% endblock %}
              </table>
            </div>
          </div>
          <div>
            <nav class="pagination is-right" role="navigation" aria-label="pagination">
              {% block pagination %}
              {% endblock %}
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}
