<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> URI com cuscuz </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
</html>
<body>

  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          URI com cuscuz
        </h1>
        <h2 class="subtitle">
          UERN @ URI Online Judge
        </h2>
      </div>
    </div>
  </section>

  <section class="section is-small">      
    <div class="container is-fluid">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          <div>
            <p class=>
              <h3 class="title"> {{ table_desc }} 
                {% if external_link %}
                <div class="icon" title="ver no URI">
                  <a href={{ external_link }} target="_blank">                  
                    <i class="fas fa-external-link-alt"></i>
                  </a>
                </div>
                {% endif %}
              </h3>
            </p>
          </div>
          <div class="box is-paddingless">
            <div class="table-container">
              {% block table %} 
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
