{% macro paginate(pagination, endpoint, page_id=None) %}
<nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" href="{{ url_for(endpoint, id=page_id, page=pagination.prev_num) }}"
       {% if not pagination.has_prev %} disabled {% endif %}>Anterior</a>
    <a class="pagination-next" href="{{ url_for(endpoint, id=page_id, page=pagination.next_num) }}"
       {% if not pagination.has_next %} disabled {% endif %}>Próxima</a>
    <ul class="pagination-list">
    </ul>
</nav>
{% endmacro %}
