{% extends 'base.html' %}

{% block table_description %}
    <h4 class="title is-4">Últimas soluções para
        <span class="has-text-link">{{ problem.name }}</span>
        <a class="tag is-link" href="{{ problem.link }}" target="_blank"><strong>ver no URI</strong></a>
    </h4>
{% endblock %}

{% block table %}
    <thead>
        <tr class="has-background-link">
            {% for col in ['Usuário', 'Linguagem', 'Tempo', 'Data'] %}
                <th class="has-text-centered has-text-light">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for sub in pagination.items %}
        <tr>
            <td>
                <a href="{{ url_for('app.users', id=sub.user.id) }}">
                    {{ sub.user.name }}
                </a>
            </td>
            <td class="has-text-centered"><small>{{ sub.language }}</small></td>
            <td class="has-text-centered"><small>{{ sub.exec_time }}s</small></td>
            <td class="has-text-centered"><small>{{ sub.date.strftime('%d %b %Y') }}<small></td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block pagination %}
    {{ paginate(pagination, endpoint='app.problems', page_id=problem.id) }}
{% endblock %}
