{% extends 'base.html' %}
{% from '_pagination.html' import paginate %}

{% block table_description %}
    <p style="padding-bottom: 24px;">
        <span class="title">Últimas soluções para {{ problem.name }} </span>
        <a href="{{ problem.link }}" target="_blank"><strong>ver no URI</strong></a>
    </p>
{% endblock %}

{% block table %}
    <thead>
        <tr class="has-background-link">
            {% for col in ['Usuário', 'Linguagem', 'Tempo', 'Data'] %}
                <th class="has-text-centered has-text-light">{{ col }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for sub in pagination.items %}
        <tr>
            <td>
                <a href="{{ url_for('app.users', id=sub.user.id) }}">
                    {{ sub.user.name }}
                </a>
            </td>
            <td class="has-text-centered">{{ sub.language }}</td>
            <td class="has-text-centered">{{ sub.exec_time }}s</td>
            <td class="has-text-centered">{{ sub.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
{% endblock %}

{% block pagination %}
    {{ paginate(pagination, endpoint='app.problems', page_id=problem.id) }}
{% endblock %}
