{% extends "layout.html" %}
{% block table %}
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <td class="has-text-centered">Usuário</td>
        <td class="has-text-centered">Posição</td>
        <td class="has-text-centered">Tempo</td>
        <td class="has-text-centered">Linguagem</td>
        <td class="has-text-centered">Data</td>
      </tr>
    </thead>
    <tbody>
      {% for sub in problem.submissions %}
        <tr>
          <td>
            <a href={{ url_for('user_page', id=sub.user.id) }} >
                {{ sub.user.name }}
            </a>
          </td>
          <td class="has-text-centered">{{ sub.ranking }}º </td>
          <td class="has-text-centered">{{ sub.exec_time }}</td>
          <td class="has-text-centered">{{ sub.language }}</td>
          <td class="has-text-centered">{{ format_date(sub.date) }}</td>        
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
