{% include "header.html" %}
{% block body %}
  <div class="page content">
  <h2>Ultimos problemas resolvidos</h2>
  <table class=solutions>
  <thead>
    <th>Usuário</th>
    <th>Nome do problema</th>
    <th>Ranking</th>
    <th>Linguagem</th>
    <th class=center>Data</th>
  </thead>
  <tbody>
  {% for entry in entries %}
    <tr>
      <td><a href={{ entry.user_url }} target="_blank">{{ entry.user_name }}</a></td>
      <td><a href={{ entry.problem_url}} target="_blank">{{ entry.problem_name }}</a></td>
      <td class="center small">{{ entry.ranking }}º</td>
      <td class="center small">{{ entry.language }}</td>
      <td class="center">{{ format_date(entry.date) }}</td>
    </tr>
  {% else %}
    <tr><td>Unbelievable.  No entries here so far</td></tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endblock %}
{% include "footer.html" %}
