{% extends "layout.html" %}
{% import "_table.html" as table %}

{% set table_description = 'Ultimas soluções de %s'|format(user.name) %}

{% macro render_submission(sub) -%}
  <td>
    <a href={{ url_for("problems", id=sub.problem.id) }} >
      {{ sub.problem.name }}
    </a>
  </td>
  <td class="has-text-centered">{{ sub.exec_time }}</td>
  <td class="has-text-centered">{{ sub.language }}</td>
  <td class="has-text-centered">{{ sub.date|format_date }}</td>  
{%- endmacro %}

{% block content %}
  {{ super() }}
{% endblock %}
{% block table %}
  {% set thead = ('Nome', 'Problema', 'Linguagem', 'Data') %}
  {{ table.render(thead, pagination.items, render_submission) }}
{% endblock %}
{% block pagination %}
  {{ render_pagination(pagination, base_path='users', page_id=user.id) }}
{% endblock %}
